/* Media Queries */

@media screen and (min-width: 500px){
    .navbar-brand{
        font-size: 1.5rem;
    }
    .nav-icons{
        display: flex;
    }
    .nav-icons span{
        color: #fff;
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: var(--transition);
    }
    .nav-icons span:hover{
        opacity: 0.8;
    }
    .header-banner{
        text-align: left;
    }
    .header-banner h3{
        font-size: 1.3rem;
    }
    .header-banner-title{
        font-size: 4rem;
    }
    .product-item img{
        width: 200px;
    }
    .product-item .text{
        width: 60%;
    }
    .review-item .text{
        font-size: 1.5rem;
    }
    .review-item h3{
        font-size: 1.3rem;
    }
    .newsletter .btn-trans, .form-control{
        width: 70%;
    }
}

@media screen and (min-width: 768px){
    .features-wrapper{
        padding: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-item{
        border: none
    }
    .feature-item:nth-child(odd){
        border-right: 0.5px solid #cdcdcd;
    }
    .order-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        align-items: center;
    }
    .order-content{
        text-align: left;
    }
    .review-item .text{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .newsletter .btn-trans, .form-control{
        width: auto;
    }
    .form-control{
        width: 400px;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-wrapper div{
        margin: 0;
    }
}

@media screen and (min-width: 992px){
    .navbar-toggler{
        display: none;
    }
    .nav-btns{
        display: flex;
    }
    .nav-btns button{
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 300;
        opacity: 0.9;
        padding: 0.4rem 0;
        border-width: 0.5px;
        border-style: solid;
        margin: 0 0.5rem;
        width: 100px;
        transition: var(--transition);
    }
    .nav-btns button:hover{
        opacity: 1;
    }
    .nav-btns button:first-child{
        border-color: var(--emperor);
        background: var(--emperor);
        color: #fff;
    }
    .nav-btns button:first-child:hover{
        border-color: #fff;
        background: transparent;
    }
    .nav-btns button:last-child{
        border-color: #fff;
        background: transparent;
        color: #fff;
    }
    .nav-btns button:last-child:hover{
        border-color: var(--emperor);
        background: var(--emperor);
    }
    .navbar-extra-content{
        flex: 1 0 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
    }
    .navbar-collapse{
        position: relative;
        width: 100%;
        background: transparent;
        flex: 0 0 40%;
    }
    .navbar-nav{
        display: flex;
        margin: 0!important;
    }
    .nav-item{
        padding: 0;
        margin: 0 0.8rem;
    }
    .nav-link{
        font-size: 1rem;
        letter-spacing: normal;
        text-transform: capitalize;
        color: #fff;
    }
    .nav-link:hover{
        text-shadow: none;
        color: var(--brown);
    }
    .navbar-brand{
        flex: 0 0 200px;
    }
    .header-banner div{
        width: 70%;
        margin: 0 auto;
    }
    .product-item-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6rem;
    }
    .product-item:last-of-type{
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1200px){
    .features-wrapper{
        height: 800px;
        grid-template-columns: repeat(4, 1fr);
    }
    .feature-item:nth-child(2){
        border-right: 0.5px solid #cdcdcd;
    }
    .feature-item:nth-child(odd) .feature-icon{
        display: block;
        margin-top: 12rem;
    }
}